@font-face {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    src: url('./Montserrat_Alternates/MontserratAlternates-Regular.ttf') format('truetype');
    font-display: swap;
}
