@use "../abstracts/mixins";
@use "../abstracts/variables";

html {
  box-sizing: border-box;
  color: variables.$black;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

html,
body {
  position: relative;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;

  @include mixins.on-event {
    text-decoration: underline;
  }
}

template.page {
  display: none;
}